* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Lucida Sans Regular';  
    overflow: hidden;
}

.clientList{
    width: 16%;
    background-color: #523B4B;
    height: 100vh;
    color: white;
   padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}



.clientListName i{
    font-size: 22px;
    width: 15%;
    text-align: right;
    color: #948C91;
}

.clientList i:hover{
    color: white;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.clientList h4{
    color: #948C91;
    font-weight: 100;
    font-size: 14px;
}
.clientHeaderUser i, .fa-circle{
    font-size: 11px;
    color: #177572;
    margin: 3px;
    margin-left: 0px;
}

.clientHeaderUser{
    margin-top: 5px;
}

.jumpToContent{
   background-color: rgb(46, 34, 42);
   padding:7px;
   border-radius: 5px;
   margin-top: 15px;
   margin-bottom: 15px;
   font-weight: bold;
   font-size: 14px;
   color: #948C91;
}

.jumpToContent p{
    margin-left: 15px;
}

.threads{
    font-size: 14px;
    color: rgb(163, 155, 160);
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.threads p{
    margin-left: 5px;
}

.channelHead, .directMesHead{
    color: #948C91;
}

.channelHead i {
    font-size: 16px;
    width: 100%;
    text-align: right;
}

.directMesHead i{
    font-size: 16px;
    width: 34%;
    text-align: right;
}

.channelHead, .directMesHead {
    font-size: 16px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 10px;
}


.channelListItem, .directMesItem{
    color: #948C91;
    font-size: 14px;
    padding: 3px 7px;
    cursor: pointer;
    font-weight: 600;
}

.channelListItem:hover, .directMesItem:hover{
    background-color: rgb(46, 34, 42);
}

.channelListItem .name, .directMesItem .name{
    margin-left: 10px;
}

.directMesItem i{
   font-weight: bold;
}


::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #523B4B;
}


::-webkit-scrollbar-thumb {
    background: rgb(46, 34, 42);
    border-radius: 40px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 34, 42);
}


.friendInfo, .features{
    width: 30%;
    margin:  15px 25px;
    color: #878a8f;
 
}

.info{
    margin-top: 5px;
    font-size: 13px;
}

.fa-star , .state, .username{
    padding: 0% 10px;
}

.state i{
    font-size: 10px;
    color: #7ECD95;
    padding: 2px 5px 0px 0px
}

.state{
    border-left: 2px solid #7071738c;
    border-right: 2px solid #7071738c;
}

.friendInfo h3{
    color: #303134;
}

.features{
    width: 51%;
    text-align: right;
}

.features div{
    text-align: right;
    width: 90%; 
}


.friendChatHead{
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid rgba(148, 140, 145, 0.336);
}

.features i, .features input{
    margin-left: 10px;
}

.features input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.friendChat{
    height: 100vh;
}


.sendArea{
    width: 80%;
    position: absolute;
    bottom: 0%;
    margin: 20px;
    border: 2px solid rgba(105, 99, 103, 0.835);
    border-radius: 5px;
}

.sendArea .fa-plus{
    width: 5%;
    text-align: center;
    padding: 10px 0%;
    border-right: 2px solid rgba(105, 99, 103, 0.835);
    color: rgba(105, 99, 103, 0.835);
}

.sendArea .writeSms{
    margin-left: 0px;
   width: 95%;
   color: rgba(148, 140, 145, 0.835);
}
.writeSms i{
    font-size: 22px;
    margin-top: 5px;
    margin-right: 10px;
}

.writeSms input{
    border: none;
    padding: 10px 10px;
    width: 95%;
    font-size: 14px;
}

.chatBody{
    position: absolute;
    bottom: 10%;
    margin-left: 20px;
}

.sms img{
    width: 3%;
    height: 3%;
    margin-right: 10px;
    border-radius: 5px;
}

.sms{
    margin-bottom: 15px;
}

.smsText p{
    font-size: 14px;
    color: rgb(73, 69, 71);
    margin-bottom: 5px;
}

.userName p{
    color: rgba(148, 140, 145, 0.835);
    font-size: 12px;
    padding-top: 3px;
    padding-left: 10px;
}
.userName{
    margin-bottom: 5px;
}

.chatBody{
    overflow: scroll;
    height: 78vh;
    width: 100%;
    overflow-x: hidden;
}

.app{
    display: none;
}

#myForm{
    width: 30%;
    margin: 100px auto;
    border: 1px solid #6a6c70;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-container h1,.form-container label,.form-container input, .form-container button{
    margin: 10px 10px;
    padding: 10px 5px;
}

.form-container button{
    background-color: #22978A;
    color: white;
    border: none;
    width: 50%;
    margin: 0% auto;
    margin-top: 25px;
}

.form-container button:hover{
    background-image: linear-gradient(to right ,rgb(11, 83, 75), rgb(57, 175, 161));
    transition: all 3s;
}